$white: #FFFFFF;
$black: #000000;
$darkGrey: #1D1D1D;
$mdGrey: #767676;
$lightGrey: #D8D8D8;
$vlightGrey: #F9F9F9;
$red: #BA0000;
$primaryFont: "ABChanelCorpo-SemiBold";
$secondaryFont: "ABChanel Corpo extra light";
$tertiaryFont: Helvetica, sans-serif;
$body: clamp(0.875rem, 0.9107rem + -0.1786vw, 0.75rem);
$productTitle: clamp(1rem, 1.0714rem + -0.3571vw, 0.75rem);